.startScan, .ninjaHead{
    grid-column: 1;
    grid-row: 1;
}

.startScan {
    border-radius: 100%;
    border: none;
    background:none;
}

.startScan:hover {
    cursor: pointer;
}

.container {
    display: grid;
}

.text {
    font-family: 'azo-sans-web',Helvetica,sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.input {
    z-index: 1;
}