.App {
  text-align: center;
}

.ninjaHead {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .ninjaHead {
    animation: bigSmall infinite 5s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes bigSmall {

  0% {transform: scale(1);}
  50% {transform: scale(2);}
  100% {transform: scale(1);}

}